.img {
    width: 100%;
    height: 32vh;
    background-image: url("../../assets/images/bg.jpg.webp");
}

.img h2 {
    padding-top: 5%;
    color: white;
    margin: 0 0 0 15%;
}

.img p {
    margin-left: 15%;
    color: #585858;
    ;
}