@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.nav {
    background-image: url("../../assets/images/bg.jpg.webp");
    background-color: transparent !important;
}

.margin-left {
    margin-left: 51%;
}

.margin-left li {
    margin-left: 10%;
}

.color {
    color: #fff;
    font-size: 16px;
}

.btn {
    top: 0;
    right: 0;
    margin-right: 15px;
    background: #eb2b63;
    color: #fff;
}