<section class="background">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 m-row">
                <h1>Unbeatable Offers</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>
                <button class="btn1"> Get Your Plan</button>
            </div>
            <div class="col-md-6 m-row-rocket">
                <img [src]="rocket" class="w-85 anmation">
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="features-info">
        <img [src]="smallRocket" class="">
        <p>THE BEST OUT THERE</p>
        <h1>See our features</h1>
    </div>
    <div class="container w-85 mt-5">
        <div class="row text-center center">
            <div class="col-md-4 font">
                <div class="red-div "></div>
                <h4>Buy your Domain
                </h4>
                <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
            </div>
            <div class="col-md-4 font">
                <div class="red-div"></div>
                <h4>Cloud Database</h4>
                <p>Ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
            </div>
            <div class="col-md-4 font">
                <div class="red-div"></div>
                <h4>SSD-Only
                </h4>
                <p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
            </div>
            <div class="col-md-4 font mt-5">
                <div class="red-div"></div>
                <h4>Smart Contacts

                </h4>
                <p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
            </div>
            <div class="col-md-4 font mt-5">
                <div class="red-div"></div>
                <h4>Free Support
                </h4>
                <p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
            </div>
            <div class="col-md-4 font mt-5">
                <div class="red-div"></div>
                <h4>Viral Marketing
                </h4>
                <p>Suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
            </div>

        </div>
    </div>
</section>
<section class="smaal-features">

</section>