@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

.background {
    width: 100%;
    height: 82vh;
    background-image: url("../../assets/images/bg.jpg.webp");
}

.m-row {
    margin-top: 10%;
}

.m-row-rocket {
    position: relative;
    margin-top: 10%;
    animation: rocket 2s;
    -webkit-animation: rocket 2s linear infinite;
}

.background h1 {
    color: #fff;
    width: 30%;
    font-size: 90px;
    font-weight: 600;
    margin-bottom: 23px;
    line-height: 1;
}

.background p {
    color: #fff;
    font-size: 16px;
    width: 64%;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1;
}

.btn1 {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 400;
    min-width: 186px;
    padding: 17px 25px;
    border-radius: 14px;
    background: #eb2b63;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

@keyframes rocket {
    0% {
        left: 20px;
        bottom: 20px;
    }
    25% {
        left: -20px;
        bottom: 20px;
    }
    50% {
        left: -20px;
        bottom: 0px;
    }
    75% {
        left: 0px;
        bottom: 0px;
    }
    100% {
        left: 20px;
        bottom: 20px;
    }
}

.features {
    width: 100%;
    height: 100vh;
}

.features-info {
    text-align: center;
    margin-top: 6%;
}

.features-info p {
    font-size: 12px;
    color: #8e8e8e;
}

.features-info h1 {
    margin-top: -1%;
    font-size: 60px;
    font-weight: 700;
}

.red-div {
    display: inline-flex;
    width: 87px;
    height: 87px;
    background: #eb2b63;
    font-size: 43px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 40px;
}

.font p {
    font-size: 15px;
    margin-bottom: 40px;
    color: #8e8e8e;
}

.center {
    margin-left: 2% !important;
}

.smaal-features {
    width: 100%;
    height: 50vh;
    background-image: url("../../assets/images/bg.jpg.webp");
}

.small-features-info {
    text-align: center;
}

.small-features-info img {
    margin-top: 3%;
}

.small-features-info p {
    color: #8e8e8e;
}

.small-features-info h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 700;
}

form {
    text-align: center;
}

.input {
    margin-top: 2%;
    width: 45%;
    height: 59px;
    font-size: 14px;
    border: none;
    background: #fff;
    border-radius: 14px;
    display: inline-block;
    padding: 0 31px;
    margin-right: 5px;
}

.btn2 {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 400;
    min-width: 186px;
    padding: 22px 25px;
    border-radius: 14px;
    background: #eb2b63;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

form p {
    font-size: 12px;
    margin-left: -15%;
    color: #8e8e8e;
}

.Illustrator {
    width: 100%;
    height: 60vh;
}

.Illustrator-info {
    margin-top: 5%;
}

.Illustrator-info h6 {
    margin: 5% 0 0 0;
}

.i-w-75 {
    margin: 0 0 0 75%;
}

.p-w-50 {
    margin: 0 0 0 50%;
}

.s-w-25 {
    margin: 0 0 0 25%;
}

.div {
    background: #eef6f9;
    padding: 240px 35px 45px 38px;
    border-radius: 15px;
    margin-bottom: 42px;
    position: relative;
    margin: 20% 0 0 0%;
}

.div p {
    margin-top: -30%;
    color: #8e8e8e;
}

.imgg {
    margin-top: 4%;
    margin-left: 85%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.info {
    margin: -10% 0 0 63%;
}

.info h6 {
    color: black;
    font-weight: bold;
}

.info p {
    color: #eb2b63;
    font-weight: bold;
}

.plan {
    text-align: center;
    margin-top: 5%;
}

.basic-plan {
    text-align: center;
    width: 116%;
    padding: 16px;
    border-radius: 14px;
    margin-bottom: 15px;
    background: #7246b3;
    background: linear-gradient(to right, #7246b3 0%, #431483 100%);
}

.basic-plann {
    text-align: center;
    width: 116%;
    padding: 16px;
    border-radius: 14px;
    margin-bottom: 15px;
    color: #fff;
    background: #ff3c50;
}

.basic-plan h4 {
    font-weight: bold;
    font-size: 28px;
    color: #fff;
}

.basic-plann h4 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

.mleft {
    margin-left: 6%;
}

.get-plan {
    background: #eef6f9;
    text-align: center;
    width: 354px;
    height: 500px;
    border-radius: 14px;
}

.get-plan ul {
    list-style: none;
    margin-top: 10%;
}

.get-plan ul li {
    padding-bottom: 50px;
    color: #8e8e8e;
}

.btn3 {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 400;
    min-width: 270px;
    padding: 17px 25px;
    border-radius: 14px;
    background: #eb2b63;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    text-align: center;
}

.solutions {
    margin-top: 4%;
    width: 100%;
    height: 30vh;
    background-image: url("../../assets/images/banner-bg.jpg.webp");
}

.solutions h3 {
    color: white;
    padding-top: 7rem;
}

.solutions p {
    color: #585858;
}

.ml {
    margin: 0 0 0 23rem;
}

.btn4 {
    display: inline-block;
    border: none;
    font-size: 14px;
    font-weight: 400;
    min-width: 186px;
    padding: 17px 25px;
    border-radius: 14px;
    background: #eb2b63;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    margin: -4rem 0 0 88rem;
}